@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&family=Fraunces:wght@700;900&display=swap');
/* font-family: 'Barlow', sans-serif;
font-family: 'Fraunces', serif; */

h1, h2, h3, h4, h5 {
  font-family: 'Fraunces', serif;
}

h2 {
  font-weight: 700;
}

nav a:last-child {
  color: black;
  border: 2px solid white;
  border-radius: 25px;
  padding: 8px 16px;
  background-color: white;
}

body {
  background-color: #41beff;
  font-family: 'Barlow', sans-serif;
  margin: 0 auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 24px;
}

nav a {
  margin-left: 16px;
  text-decoration: none;
  color: white;
  font-weight: 700;
}

section.hero {
  background-image: url("/images/desktop/image-header.jpg");
  z-index: 99;
  height: 100vh;
  /* display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; */
  text-align: center;

  background-color: #cccccc; /* Used if the image is unavailable */
  background-position: center top 30%; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain; /* Resize the background image to cover the entire container */
  background-color: #41beff;
}

section.hero h1,
section.hero img {
  padding-top: 10%;
}

section.hero h1 {
  font-size: 88px;
  color: white;
}

