@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&family=Fraunces:wght@700;900&display=swap');
/* font-family: 'Barlow', sans-serif;
font-family: 'Fraunces', serif; */

h1, h2, h3, h4, h5 {
  font-family: 'Fraunces', serif;
}

h2 {
  font-weight: 700;
  line-height: 1.2;
}

nav a:last-child {
  color: black;
  border: 2px solid white;
  border-radius: 25px;
  padding: 8px 16px;
  background-color: white;
}

body {
  background-color: #41beff;
  font-family: 'Barlow', sans-serif;
  line-height: 1.4;
  margin: 0 auto;
  max-width: 1440px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 24px;
}

nav a {
  margin-left: 16px;
  text-decoration: none;
  color: white;
  font-weight: 700;
}

section.hero {
  background-image: url("/images/desktop/image-header.jpg");
  z-index: 99;
  height: 100vh;
  /* display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; */
  text-align: center;

  background-color: #cccccc; /* Used if the image is unavailable */
  background-position: bottom; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain; /* Resize the background image to cover the entire container */
  background-color: #41beff;
}

section.hero h1 {
  font-size: 88px;
  color: white;
  letter-spacing: 8px;
  padding-top: 288px;
}

section.hero img {
  padding-top: 88px;
}

section.section-a,
section.section-b {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

div.section-a-copy,
div.section-b-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8%;
  width: 50%;
  height: 64vh;

  background-color: white;
}

div.section-a-img,
div.section-b-about {
  display: flex;
  width: 50%;
  height: 64vh;

}

div.section-a-img img {
  width: fit-content;
}

div.section-a-copy h2 {
  font-size: 32px;
}

div.section-b-about h3 {
  font-size: 24px;
}

div.section-a-copy h2,
div.section-a-copy p {
  margin-bottom: 4%;
}

div.section-b-about h3,
div.section-b-about p {
  text-align: center;

}

div.section-b-about p {
  margin-top: 16px;
}

div.section-a-copy a {
  color: hsl(213, 9%, 39%);
  font-weight: 700;
  text-decoration: none;
  font-family: 'Fraunces', serif;
}

div.section-a-copy a:hover {
  border-bottom: 4px solid #fad305;
  width: fit-content;
}

section.section-b div:nth-child(1) {
  background-image: url("/images/desktop/image-graphic-design.jpg");
  height: 64vh;
  justify-content: flex-end;
  padding: 56px 172px;
  color: hsl(213, 9%, 39%);
  background-color: #cccccc; /* Used if the image is unavailable */
  background-position: top; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  background-color: #41beff;
}

section.section-b div:nth-child(2) {
  background-image: url("/images/desktop/image-photography.jpg");
  height: 64vh;
  justify-content: flex-end;
  padding: 56px 202px;
  color: hsl(212, 27%, 19%);
  background-color: #cccccc; /* Used if the image is unavailable */
  background-position: top; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  background-color: #41beff;
}

section.section-c {
  background-color: white;
}

section.section-c div.clients {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 104px;
  width: 80%;
  margin: 0 auto;
}


section.section-c div.clients div {
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 0 40px;
  width: 33.333%;
}

section.section-c h3 {
  font-size: 16px;
  letter-spacing: 2px;
  text-align: center;
  padding: 104px 0 88px 0;
  color: hsl(210, 4%, 67%);
}

section.section-c img {
  border-radius: 50%;
}

section.section-c img,
section.section-c p {
  margin-bottom: 48px;
}

section.section-c h4 {
  margin-bottom: 8px;
}

section.section-c h5 {
  font-size: 12px;
  color: hsl(210, 4%, 67%);
}

section.section-d-gallery {
  display: flex;
  flex-direction: row;
}

section.section-d-gallery img {
  /* width: 24.83%; */
  width: 25%;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 40px 0;
  background-color: #A0D2C5;
}

footer div {
  margin: 32px 0 48px 0;
}


.footer-logo-color {
  fill: #417367;
}

footer div a {
  margin-left: 32px;
  color: #417367;
  text-decoration: none;

}

footer div.social img {
  margin-left: 16px;
}